/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family:-apple-system,
BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

}
header .container{
    background-color: white;
    font-size: 18px;
    display: grid;
    grid: "1 2";
    align-items: center;
}

.container {
    margin: 0 auto;
    max-width: 70%;
    width: 100%;
}
h1{
    float: left;
}
ul{
    list-style-type: none;
}

li {
  float: right;
}

li a {
    list-style-type: none;
    color: #6b7280;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    color: #5A67D8;
}
.overview-hero .container{
    margin-top: 20px;
    display:grid;
    grid-template-columns: auto auto;
   align-items: center;
}
.overview-hero{
    background-color: #E2E8F0;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}
.overview-hero-image{
    text-align: left;
    position: relative;
    padding-left: 10%;
    margin: 50px;
}
.overview-hero-text{
    float: right;
    padding-right: 30%;
}
img{
    width: 240px;
    height:240px;
}
.learn-about{
    padding-left: 15%;
    align-items: center;
}
.learn-about h2{
    font-size: 24px;
    color: #48BB78;
    justify-items: left;
}
.learn-about h3{
    color: #48BB78;
    font-size: 21px;
}

.cards{
    margin-left: -10%;
    margin-right: 10%;
    position: relative;
    margin-top: 70px;
    display:grid;
    grid-template-columns: 30% 30% 30%; 
    /*width: 700px;*/
}
.card{
    border-style: 2px solid;
    border-color: #E2E8F0;
    border-radius: 5px;
    box-shadow: 5px 10px lightgray;
    padding: 30px;
    margin: 20px;
}
.testing{
    width: 85%;
    margin: 100px;
    padding: 100px;
    align-items: center;
}
.testing .container{
    display: grid;
    grid-template-columns: 70% 30%;
}

.testing-desciption{
    margin-right: 200px;
    position: relative;
    float: left;
}
.cta{
    margin-top: 50px;
    float: right;
}
.btn {
  background-color: #48BB78; 
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  align-items: center;
}
.stories a {
    color: #5A67D8;
    text-decoration: none;

}
.stories h2{
    color: #5A67D8;
}
.stories h3{
    font-size: 19px;
    margin-right: 180px;
}
.stories img{
    padding: 10px;
    border-radius: 120px;
}
.stories{
    padding: 1%;
    padding-top: -1%;
    padding-left: 10%;
    display:grid;
    grid-template-columns: 80%;
    align-items: center;
    text-align: left;
}
.testing{
    background-color: #4A5568;
    color: white;
}
article{
    margin-top: 50px;
    float: right;
    display:grid;
    grid-template-columns: auto auto;
}
.article-body{
    width: 100%;
    align-items: center;
    
}
.newsletter{
    background-color: #48BB78;
    color: white;
    text-align: center;
    padding-left: 10%;
    padding: 50px;
}
.newsletter p{
    padding-left: 35%;
    padding-right: 35%;
    text-align: left;
}
input{
    width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.newsletter .btn {
    background-color: #5A67D8;
    text-align: center;
}
.form-group{
    display: inline;
}
footer{
    background-color: #4A5568;
    color: white;
    padding: 20px;

}